<div class="form-group row">
  <label for="dbProxyNameInput" class="col-sm-2 col-form-label">Name:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="dbProxyNameInput" placeholder="Name shown in the console">
  </div>
</div>
<div class="form-group row">
  <label for="dbProxyIpAddressInput" class="col-sm-2 col-form-label">IP address:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="dbProxyIpAddressInput" placeholder="IP address">
  </div>
</div>
<div class="form-group row">
  <label for="dbProxyPortInput" class="col-sm-2 col-form-label">Port:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="dbProxyPortInput" placeholder="Internal server port">
  </div>
</div>