<nav class="col-md-3 col-lg-2 d-none d-md-block text-light navbar-dark sidebar pt-5 px-2">
  <div class="sidebar-sticky">
    <h5 (click)="refreshStatus()">Servers</h5>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Auth server</span>
      </h6>

      <button type="button" class="btn btn-link nav-item nav-link text-left py-1 ml-4">
        <span>127.0.0.1</span>
        <div class="float-right">
          <span class="fas fa-circle text-success"></span>
        </div>
      </button>
      <button type="button" class="btn btn-link nav-item nav-link text-left py-1 ml-4">
        <span>127.0.0.1</span>
        <div class="float-right">
          <span class="fas fa-circle text-danger"></span>
        </div>
      </button>

    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Agent server</span>
      </h6>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Game server</span>
      </h6>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>World server</span>
      </h6>
    </div>

    <div class="navbar-nav">
      <h6>
        <span class="fas fa-desktop mt-4 pr-2">&nbsp;</span>
        <span>Database proxy</span>
      </h6>
    </div>
  </div>
</nav>