*.project
*.classpath
.settings/
auth-server/.settings/
auth-server/target/
auth-server/bin/
game-server/.settings/
game-server/target/
game-server/bin/
agent-server/.settings/
agent-server/target/
agent-server/bin/
common-server/.settings/
common-server/target/
common-server/bin/
db-server/.settings/
db-server/target/
db-server/bin/
utils/target/
