<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pink flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 p-2" routerLink="/">
    <img class="nav-logo" src="./assets/img/logo.png">
    <span class="align-text-bottom px-2 py-1">OpenSUN Console</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top-content"><span class="navbar-toggler-icon"></span></button>

  <div id="navbar-top-content" class="collapse navbar-collapse">
    <div class="navbar-nav w-100 ml-2">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"><span class="fas fa-home mr-2"></span><span>Statistics</span></a>
      <a class="nav-item nav-link" routerLink="/servers" routerLinkActive="active"><span class="fas fa-desktop mr-2"></span><span>Servers</span></a>
      <a class="nav-item nav-link" routerLink="/database" routerLinkActive="active"><span class="fas fa-desktop mr-2"></span><span>Database</span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" data-toggle="dropdown"><span class="fas fa-cog mr-2"></span><span>Configuration</span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/config/auth">Authorization servers</a>
          <a class="dropdown-item" routerLink="/config/agent">Agent servers</a>
          <a class="dropdown-item" routerLink="/config/game">Game servers</a>
          <a class="dropdown-item" routerLink="/config/world">World servers</a>
          <a class="dropdown-item" routerLink="/config/dbproxy">Database proxy servers</a>
        </div>
      </li>
    </div>
  </div>
</nav>